body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.userName{
  color: blue;
}

h3{
  text-align: center;
}

#chatbox{
  margin: 0 auto;
  width: 50%;
}

li:hover{
  background-color: rgb(230, 230, 230);
}

.panel-body{
  overflow: scroll;
}

.panel-heading{
  position: fixed;
}

#messagesDiv{
  height: 300px;
  overflow: scroll;
  font-size: 19px;
}

button{
  color: red;
}
