body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

h1{
  text-align: center;
}

#chatbox{
  width: 40%;
  border: 2px solid yellow;
  padding: 5px;
}

#messagesDiv{
  height: 300px;
  overflow: scroll;
  font-size: 19px;
}

button{
  color: red;
}
